{{> header}}
{{> navbar}}

    <div class="col-8">
        <h1>About</h1>
    </div>


    <div class="col-4">
    <img src="/Assets/img/descarga.png" alt="cohete" class="img-thumbnail">  
  </div>


{{>footer}}